{% extends "::base.html.twig" %}
{% set assetsPath = "/bundles/iaangularapplication" %}

{% block title %} :: Angular Application{% endblock %}

{% block stylesheets %}
	{{ parent() }}

    <link href="{{ asset(assetsPath~'/css/custom.css') }}" rel="stylesheet" />
{% endblock %}


{% block scripts %}
    {{ parent() }}
    
    {% javascripts injector='vendor, application' %}
        <script type="text/javascript">
            var ENV = {
                assetsPath: '{{ assetsPath }}'
            }
        </script>

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
	<div ng-app="addressBook">
    	<div ng-view class="example-animate-container" ng-animate="{enter: 'example-enter', leave: 'example-leave'}"></div>
    </div>
{% endblock %}
