{% extends "IAApplicationBundle::layout.html.twig" %}
{% block head_styles %}
    {{ parent() }}
    {% stylesheets filter='uglifycss, cssrewrite' output="assets/build/wct.css"
        'bundles/iawebcontentthief/css/styles.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}{{ parent() }} :: Edit Fieldset{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Edit Fieldset{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading"> Edit Fieldset </header>
            <div class="panel-body">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
                    <div class="form-group">    
                        {{ form_label(form.active, null, {
                            'label_attr': {'class': 'control-label col-lg-2'}
                            }) 
                        }}
                        <div class="col-lg-10">
                            <div class="checkbox">
                                {{ form_widget(form.active) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.title, null, {
                            'label_attr': {'class': 'col-sm-2 control-label'}
                            }) 
                        }}
                        <div class="col-sm-10">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                      
                    <fieldset>
                        <legend>Fields</legend>
                        
                        <div class="fieldsContainer" data-prototype="{% filter escape %}{% include 'IAWebContentThiefBundle:Fieldsets:add-field-prototype.html.twig' with {'form': form.fields.vars.prototype} %}{% endfilter %}">
                        {% for field in form.fields %}
                            <div class="fieldsRow">
                                <div class="col-sm-10">
                                    <div class="col-lg-4">
                                        {{ form_widget(field.title, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ form_widget(field.type, {'attr': {'class': 'form-control m-bot15'}}) }}
                                    </div>

                                    <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
                                    <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        
                    </fieldset>    
                        
                    {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                    {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </section>
    </div>
{% endblock content %}

{% block endDocumentScripts %}
    {{ parent() }}
    {#<script type="text/javascript">
        jQuery(function () {
            jQuery("#btnAddField").on('click', function (e) {
                jQuery("#popup").dialog({modal: true}).dialog('open').load("{{ path('ia_web_content_thief_fieldsets_add_field') }}");
            });
        });

    
    </script>#}
    
    {% javascripts filter="?uglifyjs2" output="assets/build/layout.js"
            '@IAWebContentThiefBundle/Resources/public/js/jquery.duplicateFields.js'
            '@IAWebContentThiefBundle/Resources/public/js/fieldsets-edit.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock endDocumentScripts %}
