{% extends "IAApplicationBundle::layout.html.twig" %}
{% block head_styles %}
    {{ parent() }}
    {% stylesheets filter='uglifycss, cssrewrite' output="assets/build/wct.css"
        'bundles/iawebcontentthief/css/styles.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}{{ parent() }} :: Edit Project{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Edit Project{% endblock %}

{% block content %}

    <script type="text/javascript">
        var bAdsInside = 0;
        var StatusRegistry = '{{ jsStatusRegistry }}';
    </script>

    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading"> Edit Project </header>
            <div class="panel-body">
                
                <form id="formProject" name="formProject" action="{{ app.request.uri }}" method="post" >
                    <div id="editorFrame">
                        <div id="mceUrl">
                            <input id="currentUrl" type="text" size="100" name="currentUrl" value="{{ currentUrl }}" />
                            <input id="btnBrowse" type="button" value="Browse" data-browserUrl="{{ path('ia_web_content_thief_browse') }}" />
                        </div>    
                        <iframe id="remoteBrowser" width="900" height="500" data-browserCss="{{ asset('css/browser.css') }}"></iframe>
                    </div>

                    <br class="clear" />
                    <br class="clear" />


                    <input type="hidden" name="formAction" value="" />
                    <input type="hidden" name="projectId" value="<?php echo $this->oProject->id; ?>" />
                    <input type="hidden" name="StatusRegistry" value="" />

                    <div id="divProjectTitle">

                        <table id="formTable">
                            <tr>
                                <td class="dim"></td>
                                <td class="dim"></td>
                                <td class="dim"></td>
                                <td class="dim"></td>
                            </tr>
                            <tr>
                                <td width="20%"  >
                                    <label>Project Title: </label>
                                </td>
                                <td colspan="2">
                                    <input type="text" name="projectName" size="80" value="{{ oProject.getProjectTitle() }}" />
                                </td>

                                <td valign="top"rowspan="2" style="padding-left: 50px;">
                                    <input id="btnSaveProject" type="button" name="btnSave" value="Save" /><br /><br />
                                    <input id="btnPreviewProject" type="button" name="btnPreview" value="Preview" />
                                </td>
                            </tr>

                            <tr>
                                <td><label>URL: </label></td>
                                <td colspan="2">
                                    <input type="text" name="addressBar" value="{{ oProject.getUrl() }}" size="50" />
                                    <input id="btnBrowse" type="button" name="GO" value="GO!" /> <!-- document.location = '<?php echo $this->url(); ?>/?addressBar=' + $('input[name$=addressBar]').val(); -->
                                </td>
                            </tr>

                            {% if internalUrls %}
                                <tr>
                                    <td><label>Internal URL's:</label></td>
                                    <td>
                                        <select id="AdsLink" name="ads_url" >
                                            <option value="0">-- Select URL --</option>
                                            {% for iu in internalUrls %}
                                                <option value="<?php echo $iu; ?>" <?php if($this->adsUrl == $iu): ?>selected="selected"<?php endif;?> >ADS {{ loop.index }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>

                    <br class="clear" />
                    <div>
                        <table cellpadding="3" width="100%">
                            <tr>
                                <td width="20%"  align="right"><label for="nopic" >No Picture</label></td>
                                <td><input type="text" name="nopic" size="80" value="{{ oProject.getNopic() }}" /></td>
                            </tr>
                            {% for f in fields %}
                                {% if f.caption == 'add_link' %}

                                    <tr>
                                        <td width="20%"  align="right"><label for="{{ f.caption }}" >{{ f.Translation.0.name }}</label></td>
                                        <td><input id="{{ f.caption }}" class="trackStatus" size="100" type="text" name="projectFields[{{ f.caption }}]" value="{{ ProjectRepository.getFieldXquery(f.caption, 'fields', oProject) }}" /></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td align="right"><label for="{{ f.caption }}" >{{ f.Translation.0.name }}</label></td>
                                        <td><input id="{{ f.caption }}" class="trackStatus" size="80" type="text" name="projectFields[{{ f.caption }}]" value="{{ ProjectRepository.getFieldXquery(f.caption, 'fields', oProject) }}" /></td>
                                    </tr>
                                {% endif %}

                            {% endfor %}

                            <tr><td colspan="2">&nbsp;</td></tr>

                            {% for f in fieldsAds %}
                                <tr>
                                    <td width="20%"  align="right" valign="top" ><label for="{{ f.caption }}">{{ f.Translation.0.name }}</label></td>
                                    <td>	
                                        <div id="main__{{ f.caption }}">
                                            <input id="{{ f.caption }}" class="trackStatus" size="80" type="text" name="projectFieldsAds[{{ f.caption }}]" value="{{ ProjectRepository.getFieldXquery(f.caption, 'fieldsAds', oProject) }}" />
                                            <input class="btnAdd" type="button" value="+" />
                                            <input class="btnDel" type="button" value="-" />
                                        </div>
                                        {% set addFields = ProjectRepository.getFieldAdsXqueryAdd(f.caption, oProject) %}

                                        <div id="cloned__{{ f.caption }}" style="margin-bottom: 10px;">
                                            {% for k,v in addFields %}
                                                <input id="{{ k }}" class="trackStatus tsAdd" type="text" value="{{ v }}" name="projectFieldsAds[{{ k }}]" size="80">
                                                <br />
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr>
                                <td style="padding-top: 23px;" align="right" valign="top">Crop Pictures</td>
                                <td>
                                    <table style="margin: 0 0 10px;" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center">Top</td>
                                            <td align="center">Right</td>
                                            <td align="center">Bottom</td>
                                            <td align="center">Left</td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" id="" name="picture_crop_top" value="{{ oProject.getPictureCropTop() }}" size="10" /></td>
                                            <td><input type="text" id="" name="picture_crop_right" value="{{ oProject.getPictureCropRight() }}" size="10" /></td>
                                            <td><input type="text" id="" name="picture_crop_bottom" value="{{ oProject.getPictureCropBottom() }}" size="10" /></td>
                                            <td><input type="text" id="" name="picture_crop_left" value="{{ oProject.getPictureCropLeft() }}" size="10" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="picture_labels" style="margin-left:17%;">
                                        <div style="width: 25ex; text-align:center; float: left;">xQuery:</div>
                                        <div style="width: 25ex; text-align:center; float: left;">Reg Expression:</div> 
                                        <div style="width: 25ex; text-align:center; float: left;" >Replace with:</div>
                                    </div>
                                </td>
                            </tr>

                            {% set aPics = oProject.fieldsAdsPictures %}
                            <tr>
                                <td align="right" valign="top">Pictures</td>
                                <td>
                                    <div id="main__pictures">
                                        <input id="pictures_xpath" class="trackStatus" type="text" name="projectFieldsAdsPictures[0][xquery]" value="<?php if(isset($aPics[0])) echo $aPics[0]['xquery']; ?>" size="25" />
                                        <input id="pictures_regex" class="trackStatus" type="text" name="projectFieldsAdsPictures[0][regex]" value="<?php if(isset($aPics[0])) echo stripslashes($aPics[0]['regex']); ?>" size="25" />
                                        <input id="pictures_replace" class="trackStatus" type="text" name="projectFieldsAdsPictures[0][replace]" value="<?php if(isset($aPics[0]))  echo stripslashes($aPics[0]['replace']); ?>" size="25" />
                                        <input class="btnAddPicture" type="button" value="+" />
                                        <input class="btnDelPicture" type="button" value="-" />
                                    </div>
                                    <div id="cloned__pictures" style="margin-bottom: 10px;">
                                        {% for p in aPics %}
                                            <input id="pictures_xpath_{{ loop.index }}" class="trackStatus" type="text" name="projectFieldsAdsPictures[{{ loop.index }}][xquery]" value="{{ p.xquery }}" size="25" />
                                            <input id="pictures_regex_{{ loop.index }}" class="trackStatus" type="text" name="projectFieldsAdsPictures[{{ loop.index }}][regex]" value="{{ p.regex }}" size="25" />
                                            <input id="pictures_replace_{{ loop.index }}" class="trackStatus" type="text" name="projectFieldsAdsPictures[{{ loop.index }}][replace]" value="{{ p.replace }}" size="25" />
                                            <br />
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>		
                            <tr><td colspan="2">&nbsp;</td></tr>
                        </table>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block endDocumentScripts %}
    {{ parent() }}
    
    {% javascripts filter="?uglifyjs2" output="assets/build/webcontentthief.js" 
        '@IAWebContentThiefBundle/Resources/public/js/projects-edit.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
